.cta {
    .cta-button {
        width: 10rem;
        height: 2.2rem;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: .3rem;
        transition: width .5s ease-in-out;
        &:hover {
            width: 10.3rem;
        }
    }
}
