.assessmet-banner {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1.2rem 3%;
    .banner-text {
        padding-top: 6%;
        margin-left: 4%;
        font-size: 1.4rem;
    }
    .banner-image {
        margin-right: 5%;
    }
}

// Responsive mobile
@import "./MobAssessmentBanner";
