@import "../../scss/variables";

.footer-wrap {
    position: relative;
    background-color: $nav_background;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    .footer {
        align-items: center;
        margin-top: 1rem;
        .top-footer {
            display: flex;
            gap: 4rem;
            margin: 4rem 8%;
            .para {
                font-size: 1rem;
                margin-top: 2rem;
            }
            .email {
                font-size: 1rem;
                margin-top: 2rem;
            }
            .phone {
                font-size: 1rem;
                margin-top: .5rem;
            }
            .social-handle {
                margin-top: 1rem;
                font-size: 1.5rem;
                color: $social;
                display: flex;
                gap: 1rem;
                .social-icon {
                    cursor: pointer;
                }
            }
        }
    }
    // SVG background
    .footer-svg-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 33px;
        }
        
        .shape-fill {
            fill: $color_white;
        }
    }
    .bottom-footer {
        display: flex;
        justify-content: center;
        gap: 5rem;
        .bottom-contents {
            .footer-links {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                .footer-link {
                    text-decoration: none;
                    font-size: 1rem;
                    color: $card_color;
                    margin-bottom: .4rem;
                }
            }
        }
    }
    .cash-cards {
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        margin-top: .5rem;
        .cash-card {
            margin-right: .8rem;
            font-size: 2.5rem;
            cursor: pointer;
        }
    }
}

// Responisve mobile
@import "./MobFooter";
