// Variables
$nav_background: #F6F7F8;
$sign_up: #424242;
$color_white: #FFF;
$sign_in: #28C8AB;
$color_gray: #535353;
$color_light_green: #28C8AB;
$nav_mob_background: #ECE3FF;
$card_color: #22262A;
$color_grey: #808080;
$social: #1e63e4;
$question_head: #F8F8F8;
$prev: #283B75;
$next: #1A67DD;
$hr: #C2C2C2;
$marked: #ffcf66;
