@media screen and (max-width: 800px) {
    .mid-section {
        // Contents
        .mid-contents {
            flex-direction: column;
            .mid-image-div {
                margin: 0 auto;
                margin-top: -2.4rem;
                .mid-image {
                    height: 27rem;
                    width: 22rem;
                }
            }
            .mid-info {
                margin-left: 10%;
                margin-bottom: 5rem;
                margin-top: -1.5rem;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .mid-section {
        // Contents
        .mid-contents {
            .mid-image-div {
                margin: 0 auto;
                margin-top: -2.4rem;
                .mid-image {
                    height: 20rem;
                    width: 18rem;
                }
            }
        }
    }
}
